@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather&family=Montserrat:wght@100;200&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Ysabeau Infant", sans-serif;
}

:root {
  --bodybackground: rgba(248, 88, 115, 0.055);
  --logoColor: rgb(250, 57, 89);
  --navLinkColor: rgb(67, 67, 67);
  --gray:rgb(79, 79, 79);
  --black: rgb(13, 13, 13);
  --cadetColor: cadetBlue;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
  margin: 1vw 0vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(95, 158, 160, 0.218);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cadetColor);
}

.loader {
  width: 4.8vw;
  height: 4.8vw;
  border: 5px solid var(--cadetColor);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
  top: 55%;
  left: 50%;
  animation: pulse 1s linear infinite;
  display: block;
}
.loader:after {
  content: '';
  position: absolute;
  width: 4.8vw;
  height: 4.8vw;
  border: 5px solid var(--cadetColor);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

body {
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--cadetColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 1vw;
}

.navRight {
  display: flex;
}

.navRight ul {
  float: right;
}

.navRight li {
  display: inline;
  margin: auto 1vw;
}

.afterLogin{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchBar{
  margin: auto 1vw;
}

.searchBar button{
  color: gray; 
  background-color: white;
  border: none;
  padding: 0.4vw 0.6vw;
  border-bottom-right-radius: 5px;
}

.searchBarInput{
  padding: 0.4vw;
  border: none;
  border: 10px;
  border-top-left-radius: 5px;
}

.logout {
  color: white; 
  margin: auto 1vw;
}

.addToCart{
  color: white; 
  margin: auto 1vw;
}

.addToCartLink{
  color: white; 
}

.navRight li a {
  text-decoration: none;
  color: white;
  font-family: "Ysabeau Infant", sans-serif;
}

.logoImg {
  width: 5vw;
  display: block;
}

.innerSubNavbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fashionListDiv{
  position: relative;
}

.fashionList{
  display: none;
  width: 12vw;
  text-align: left;
  background-color: white;
  position: absolute;
  top: 2.1vw;
}

.fashionList a{
  display: block;
  color: var(--gray); 
}

.fashionListDiv:hover .fashionList{
  display: block;
}

.formDiv {
  border: 1px solid var(--cadetColor);
  width: 30vw;
  padding: 1vw 2vw;
  margin: 3vw auto;
}

.formDiv h1 {
  text-align: center;
  font-family: "Tilt Prism", sans-serif;
}

.formDiv input,
label {
  display: block;
  width: 93%;
  padding: 10px;
  font-size: 1.5vw;
}

.homeContainer {
  padding: 0vw 1vw;
}

.homeBody{
  /* border: 2px solid red; */
  padding: 1vw 3vw;
}

.homeMenScroll {
  display: flex;
  overflow-x: scroll;
  justify-content: space-around;
  align-items: baseline;
  gap: 1vw;
  margin: 2vw auto;
}

.productInfo{
  margin: 1vw auto;
  color: var(--black);
  font-family: "Ysabeau Infant", sans-serif;
}

.buyBtnLink{
  display: block;
}

.buyBtn , .cartBtn{
  display: block;
  margin: 0.3vw auto;
  width: 100%;
  background-color: var(--cadetColor);
  border: none;
  font-size: 1.3vw;
  letter-spacing: 1px;
  color: white;
  padding: 0.4vw 0vw;
  border-radius: 5px;
}

.sliderOne{
  margin: 2vw auto;
}

.bestSeller{
  font-size: 2vw;
  color: var(--black);
  text-align: center;
  margin: 1vw auto;
  text-decoration: overline;
  font-family: "Ysabeau Infant", sans-serif;
}

.homeCardContainer {
  width: 18vw;
  height: max-content;
  padding: 1vw;
  box-shadow: 4px 4px 10px rgb(168, 168, 168);
  border: 1px solid var(--cadetColor);
  background-color: rgba(95, 158, 160, 0.288);
  border-radius: 5px;
  transition: all 0.3s linear;
}

.homeCardContainer:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.522);
  transform: translateY(-10px);
  z-index: 10;
  background-color: rgba(23, 156, 36, 0.288);
  color: white;
}

.cardImage {
  width: 80%;
  margin: auto;
  display: block;
  height: 17vw;
  border-radius: 5px;
}

.cardPrice{
  float: right;
}

.homeAddtocart{
  color: white;
  background-color: var(--cadetColor);
  border: none;
  font-size: 1.2vw;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}

.homeAddtocart:hover{
  color: greenyellow;
  font-weight: bold;
}

.btn {
  width: 100%;
  display: block;
  margin: 10px 0px;
  padding: 10px;
}

.subNavbar {
  text-align: center;
  border-bottom: 2px solid var(--cadetColor);
  margin: 2vw auto;
  padding: 1vw;
  width: fit-content;
  color: var(--cadetColor);
  font-family: "Ysabeau Infant", sans-serif;
}

.innerSubNavbar {
  padding: 1vw;
  width: fit-content;
}

::placeholder{
  font-family: "Ysabeau Infant", sans-serif;
}

.subNavbar a {
  display: inline-block;
  margin: 0vw 1vw;
  text-decoration: none;
  text-align: center;
  color: var(--gray);
}

.banner{
  height: 18vw;
  z-index: -2;
}

.logoTwo{
  display: block;
  margin:auto;
  width: 4vw; 
}

.crouselImage{
  width: 100%;
  z-index: -5;
}

.homeAddtocart{
  width: 100%;
  padding: 0.5vw 0vw;
}


.mensFashionMainDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: last baseline;
}

/* Dynamic */
.dynamicComponentContainer{
  border: 2px solid green;
  padding: 2vw;
  display: flex;
  justify-content: center;
}

.dynamicChildOne{
  border: 2px solid red;
}

.dynamicChildTwo{
  border: 2px solid black;
}


/* Footer.css */
.footer {
  background-color: var(--cadetColor);
  padding: 30px 0;
  color: #333;
  margin-top: 2vw;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  max-width: 300px;
}

.footer-section p{
  color: rgb(255, 255, 255);
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
}

.footer-bottom p{
  color: white;
}

.SocialIcons{
  color: white;
  margin: 0.5vw;  
}

.cartSingleContainer{
  /* border: 1px solid red; */
  padding: 1vw 2vw;
}

.cartCard{
  border: 1px solid gray;
  background-color: rgba(95, 158, 160, 0.158);
  display: flex;
  align-items: center;
  padding: 2vw;
  margin: 1vw auto;
  width: 70vw;
}

.cartImgDiv{
  width: 45%;
  padding: 1vw;
}

.secondLayer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw auto;

}

.cartContentDiv{
  width: 100%;
  padding: 1vw;
}

.cartContentDiv h2{
  margin: 0.5vw auto;
  color: var(--cadetColor);
}

.keyFeatures{
  margin: 0.5vw auto;
}

.cartTotal{
  display: block;
  text-align: center;
  font-weight: bolder;
  background-color: orange;
  color: white;
  width: fit-content;
  position: sticky;
  top: 10vw;
  padding: 0.5vw;
  border-radius: 10%;
}

.cartImage{
  width: 100%;
}

.cartUIBtn{
  border: transparent;
  background-color: var(--cadetColor);
  color: white;
  font-size: 1vw;
  padding: 0.2vw 2vw;
  margin: 0vw 0.5vw;
  transition: all 0.1s linear;
  font-weight: bolder;
}

.cartUIBtn:hover{
  background-color: orange;
}



