*{
  margin: 0px;
  /* border: 1px solid red; */
  padding: 0px;
}

:root{
  --bodybackground: rgba(248, 88, 115, 0.055);
  --logoColor:rgb(250, 57, 89);
  --navLinkColor : rgb(67, 67, 67);
}

.navbar{

}

.navbarUL li{
  display: inline-block;
}